<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-user"></i> Create Customer</div>
    <div class="card-block">
      <form class="form" [formGroup]="customerForm" novalidate (ngSubmit)="customer(customerForm.value, customerForm.valid, customerForm)">

        <div *ngIf="!natIDNotFound">
          <div class="form-group">
            <div class="row">
              <div class="form-group col-md-4">
                <h5>Search For National ID</h5>
              </div>
              <div class="form-group col-md-5">
                <label for="m-number">National ID
                  <span class="required aria-required">*</span>
                </label>
                <input type="text" id="m-number" formControlName="NationalID" class="form-control" maxlength="14" required>
                <div *ngIf="validationErrors?.NationalID">
                  <span class="alert" *ngFor="let error of validationErrors.NationalID"> {{error}}</span>
                </div>
              </div>
              <div class="form-group col-md-3">
                <button class="btn btn-lg btn-primary" type="button" style="margin-top: 28px;" (click)="search(customerForm.get('NationalID').value)">Search</button>
              </div>
              <div *ngIf="foundErr" class=" alert alert-danger col-9 ">
                <p>This National ID is already registerd to a different user, please try another one.</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="natIDNotFound">
          <div class="form-group">
            <div class="row">
              <div class="form-group col-md-4">
                <h5>Customer Information</h5>
              </div>
              <div class="col-md-8 display-flex-wrap padding-left-0">
                <div class="form-group col-md-6">
                  <label for="fname">First Name
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" id="fname" formControlName="FirstName" class="form-control" required>
                  <div *ngIf="validationErrors?.FirstName">
                    <span class="alert" *ngFor="let error of validationErrors.FirstName"> {{error}}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="mname">Middle Name
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" id="mname" formControlName="MiddleName" class="form-control" required>
                  <div *ngIf="validationErrors?.MiddleName">
                    <span class="alert" *ngFor="let error of validationErrors.MiddleName"> {{error}}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="lname">Last Name
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" id="lname" formControlName="LastName" class="form-control" required>
                  <div *ngIf="validationErrors?.LastName">
                    <span class="alert" *ngFor="let error of validationErrors.LastName"> {{error}}
                      <br>
                    </span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="password">Password
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="password" id="Password" minlength="6" maxlength="20" formControlName="Password" class="form-control" required>
                  <div *ngIf="validationErrors?.Password">
                    <span class="alert" *ngFor="let error of validationErrors.Password"> {{error}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="national_id">National ID
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" id="national_id" maxlength="14" formControlName="national_id" class="form-control" required>
                  <div *ngIf="validationErrors?.national_id">
                    <span class="alert" *ngFor="let error of validationErrors.national_id"> {{error}}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Email
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="email" id="email" id="email" formControlName="Email" class="form-control" required>
                  <div *ngIf="validationErrors?.Email">
                    <span class="alert" *ngFor="let error of validationErrors.Email"> {{error}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="city">City
                  </label>
                  <input type="text" id="city" id="city" formControlName="City" class="form-control">
                  <div *ngIf="validationErrors?.City">
                    <span class="alert" *ngFor="let error of validationErrors.City"> {{error}}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="gov">Governorate
                  </label>
                  <input type="text" id="gov" id="governorate" formControlName="Governorate" class="form-control">
                  <div *ngIf="validationErrors?.Governorate">
                    <span class="alert" *ngFor="let error of validationErrors.Governorate"> {{error}}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="building">Building
                  </label>
                  <input type="text" id="building" formControlName="Building" class="form-control">
                  <div *ngIf="validationErrors?.Building">
                    <span class="alert" *ngFor="let error of validationErrors.Building"> {{error}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="mobile_number">Mobile Number
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text " formControlName="MobileNumber" id="mobile_number" class="form-control" required>
                  <div *ngIf="validationErrors?.MobileNumber">
                    <span class="alert " *ngFor="let error of validationErrors.MobileNumber"> {{error}}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="spec">Specialization
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" formControlName="Specialization" id="spec" class="form-control" required>
                  <div *ngIf="validationErrors?.Specialization">
                    <span class="alert " *ngFor="let error of validationErrors.Specialization"> {{error}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="row-line"></div>
              <div class="form-group col-md-4">
                <h5>Organization Information</h5>
              </div>
              <div class="col-md-8 display-flex-wrap padding-left-0">
                <div class="form-group col-md-6">
                  <label for="org_name">Organization Name
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" name="email" id="org_name" formControlName="OrgName" class="form-control">
                  <div *ngIf="validationErrors?.OrgName">
                    <span class="alert" *ngFor="let error of validationErrors.OrgName"> {{error}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="org_telno">Organization Telephone</label>
                  <input type="text" name="org_telno" formControlName="OrgTelNo" id="org_telno" class="form-control">
                  <div *ngIf="validationErrors?.OrgTelNo">
                    <span class="alert" *ngFor="let error of validationErrors.OrgTelNo"> {{error}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="org_address">Organization Address
                    <span class="required aria-required">*</span>
                  </label>
                  <input type="text" name="org_address" id="org_address" formControlName="OrgAddress" class="form-control" required>
                  <div *ngIf="validationErrors?.OrgAddress">
                    <span class="alert" *ngFor="let error of validationErrors.OrgAddress"> {{error}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row" style="margin-bottom: 0;">
              <div class="row-line"></div>
              <button type="submit " class="btn btn-lg btn-primary">Create</button>
              <button type="reset" class="btn btn-lg btn-danger">Reset</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>