<div class="modal-header">
  <h5 class="modal-title pull-left">Confirm</h5>
  <button style="margin-top:-35px;" type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body portlet-body">
  <ul class="list-group">
    <li class="list-group-item"> <strong>Amount </strong>&nbsp;:&nbsp;&nbsp;<span class="result">{{data.amount}}</span>
    </li>
    <li class="list-group-item"> <strong>Fees </strong>&nbsp;:&nbsp;&nbsp;<span class="result">{{data.fees}}</span>
    </li>
    <li class="list-group-item"> <strong>Commissions </strong>&nbsp;:&nbsp;&nbsp;<span class="result">{{data.comms}}</span>
    </li>
    <li class="list-group-item"> <strong>Incoming Balance </strong>&nbsp;:&nbsp;&nbsp;<span class="result">{{data.balance}}</span>
    </li>
  </ul>
</div>
<div class="modal-footer" style="padding: 8px;">
  <form class="form form-group  pull-left" [formGroup]="confirmForm" (ngSubmit)="confirm(confirmForm.valid,confirmForm.value,bsModalRef)"
    novalidate>
    <div class="form-group">
      <label for="MpinCode">mPIN</label>
      <input type="password" id="MpinCode" formControlName="Mpin" maxlength="6" class="form-control">
    </div>
    <div class="pull-left">
      <button type="submit" class="btn btn-lg confirm">Confirm</button>
      <button type="button" (click)="bsModalRef.hide()" class="btn btn-lg"> Cancel</button>
    </div>
  </form>
</div>
