<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-user"></i> Create Merchant</div>
    <div class="card-block">
      <form class="form" [formGroup]="createMerchantForm" novalidate (ngSubmit)="create(createMerchantForm.value)">
        {{message}}
        <div class="form-group">
          <div class="row ">
            <div class="form-group col-md-4">
              <h5>Merchant Information</h5>
            </div>
            <div class="col-md-8 display-flex-wrap padding-left-0">

              <div class="form-group col-md-4 display-none">
                <label for="can_register">Can Perform Reg.</label>
                <select id="can_register" formControlName="can_register" class="form-control">
                  <option [ngValue]=true>Yes</option>
                  <option [ngValue]=false>No</option>
                </select>
                <div *ngIf="validationErrors?.can_register">
                  <span class="alert" *ngFor="let error of validationErrors.can_register"> {{error.message}}</span>
                </div>
              </div>
              <div class="form-group col-md-4 display-none">
                <label for="kyc">Can KYC</label>
                <select id="can_perform_kyc" formControlName="can_perform_kyc" class="form-control">
                 <option ></option>
                  <option [ngValue]=true>Yes</option>
                  <option [ngValue]=false>No</option>
                </select>
                <div *ngIf="validationErrors?.can_perform_kyc">
                  <span class="alert" *ngFor="let error of validationErrors.can_perform_kyc"> {{error.message}}</span>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="merchant_profile_id">Merchant Profile
                  <span class="required aria-required">*</span>
                </label>
                <select id="merchant_profile_id" formControlName="merchant_profile_id" class="form-control" required>
                  <option *ngFor=" let merchantProfile of merchantProfiles" [ngValue]="merchantProfile.id">{{merchantProfile.name}}</option>
                </select>
                <div *ngIf="validationErrors?.merchant_profile_id">
                  <span class="alert error" *ngFor="let error of validationErrors.merchant_profile_id"> {{error.message}}</span>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="profile_id">Wallet Limit Profile
                  <span class="required aria-required">*</span>
                </label>
                <select id="profile_id" formControlName="profile_id" class="form-control" required>
                  <option *ngFor=" let profile of profiles" [ngValue]="profile.id">{{profile.name}}</option>
                </select>
                <div *ngIf="validationErrors?.profile_id">
                  <span class="alert error" *ngFor="let error of validationErrors.profile_id"> {{error.message}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="row-line"></div>
          <div class="form-group col-md-4">
            <h5>Merchant Identifier</h5>
          </div>
          <div class="col-md-8 display-flex-wrap padding-left-0">
            <div class="form-group col-md-6" id="license_type">
              <label for="license_type">Identifier
                <span class="required aria-required">*</span>
              </label>
              <select class="form-control" formControlName="license_type" id="license_type">
                <option value="commercial">Commercial Registration Number</option>
                <option value="service">Service Licence Number</option>
                <option value="sole">Sole Proprietorship License</option>
                <option value="national_id">National ID</option>
              </select>
              <div *ngIf="validationErrors?.license_type">
                <span class="alert" *ngFor="let error of validationErrors.license_type"> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6" *ngIf="createMerchantForm.get('license_type').value!='national_id'">
              <label for="license_value">Identifier Value
                <span class="required aria-required">*</span>
              </label>
              <input class="form-control" id="license_value" formControlName="license_value" type="text">
              <div *ngIf="validationErrors?.license_value">
                <span class="alert" *ngFor="let error of validationErrors.license_value"> {{error.message}}</span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="createMerchantForm.get('license_type').value=='service'||createMerchantForm.get('license_type').value=='sole'||createMerchantForm.get('license_type').value=='national_id'">
          <div class="row ">
            <div class="row-line"></div>
            <div class="form-group col-md-4">
              <h5>Merchant Information</h5>
            </div>
            <div class="col-md-8 display-flex-wrap padding-left-0">
              <div class="form-group col-md-6">
                <label for="national_id">National ID
                  <span class="required aria-required">*</span>
                </label>
                <input type="text" id="national_id" maxlength="14" formControlName="national_id" class="form-control" [(ngModel)]="nationalId"
                  (change)="birth()" required>
                <div *ngIf="validationErrors?.national_id">
                  <span class="alert" *ngFor="let error of validationErrors.national_id"> {{error.message}}</span>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="birthdate">Birth Date
                  <span class="required aria-required">*</span>
                </label>
                <input type="text" id="birthdate" disabled [value]="createMerchantForm.get('birthdate').value" class="form-control" required>
                <div *ngIf="validationErrors?.birthdate">
                  <span class="alert" *ngFor="let error of validationErrors.birthdate"> {{error.message}}</span>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="gender">Gender</label>
                <select formControlName="gender" id="gender" class="form-control">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <div *ngIf="validationErrors?.gender">
                  <span class="alert" *ngFor="let error of validationErrors.gender"> {{error.message}}</span>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="marital_status">Marital Status</label>
                <select formControlName="marital_status" id="marital_status" class="form-control">
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                </select>
                <div *ngIf="validationErrors?.marital_status">
                  <span class="alert" *ngFor="let error of validationErrors.marital_status"> {{error.message}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="row-line"></div>
          <div class="form-group col-md-4">
            <h5>Contact Information</h5>
          </div>
          <div class="col-md-8 display-flex-wrap padding-left-0">
            <div class="form-group col-md-6">
              <label for="fname ">
                <div *ngIf="createMerchantForm.get('license_type').value!='commercial'">First Name</div>
                <div *ngIf="createMerchantForm.get('license_type').value=='commercial'">Entity Name</div>
                <span class="required aria-required ">*</span>
              </label>
              <input type="text" id="fname" formControlName="fname" class="form-control " required>
              <div *ngIf="validationErrors?.fname">
                <span class="alert " *ngFor="let error of validationErrors.fname"> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6" *ngIf="createMerchantForm.get('license_type').value!='commercial'">
              <label for="mname ">Middle Name
              </label>
              <input type="text " id="mname " formControlName="mname" class="form-control " required>
              <div *ngIf="validationErrors?.mname ">
                <span class="alert " *ngFor="let error of validationErrors.mname "> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6" *ngIf="createMerchantForm.get('license_type').value!='commercial'">
              <label for="lname ">Last Name
              </label>
              <input type="text " id="lname " formControlName="lname" class="form-control " required>
              <div *ngIf="validationErrors?.lname ">
                <span class="alert " *ngFor="let error of validationErrors.lname "> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input type="text" name="phone" formControlName="phone" id="phone" class="form-control">
              <div *ngIf="validationErrors?.phone">
                <span class="alert" *ngFor="let error of validationErrors.phone"> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" formControlName="email" class="form-control">

              <div *ngIf="validationErrors?.email">
                <span class="alert" *ngFor="let error of validationErrors.email"> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="address">Address
                <span class="required aria-required">*</span>
              </label>
              <input type="text" name="address" id="address" formControlName="address" class="form-control" required>
              <div *ngIf="validationErrors?.address">
                <span class="alert" *ngFor="let error of validationErrors.address"> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="city">City
                <span class="required aria-required">*</span>
              </label>
              <input type="text" name="city" id="city" formControlName="city" class="form-control" required>
              <div *ngIf="validationErrors?.city">
                <span class="alert" *ngFor="let error of validationErrors.city"> {{error.message}}</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="serial">Application Serial Number</label>
              <input type="text" name="serial" id="serial" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label for="upload">Upload Image</label>
              <input #img type="file" name="image" id="upload" (change)="uploadImage($event)" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-line"></div>
          <div class="form-group col-md-4">
            <h5>Notes</h5>
          </div>
          <div class="col-md-8 display-flex-wrap padding-left-0">
            <div class="form-group col-md-12">
              <textarea class="form-control" name="notes" id="notes" rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row" style="margin-bottom: 0;">
            <div class="row-line"></div>
            <button type="submit" class="btn btn-lg btn-primary">Create</button>
            <button type="button" class="btn btn-lg btn-danger" (click)="reset()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>